body {
    color: #212529;
}

.title {
    text-align: center;
    margin-top: 10px;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
    margin-top: 10px;
}

table, table th, table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table tbody tr:hover {
    background-color: #ddd;
}

.ml-10 {
    margin-left: 10px
}

.icon-visible {
    display: inline-block!important;
}

.icon-hidden {
    display: none!important;
}